solutions/LivingQuarterIssuesAndMaintenance/Workflows/ManageSubmittedIssueReportsForLivingQuarters-5B895750-DE98-EE11-BE37-000D3A2C6D1C.json
{
  "properties": {
    "connectionReferences": {
      "shared_microsoftforms": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "josca_sharedmicrosoftforms_54cc6"
        },
        "api": {
          "name": "shared_microsoftforms"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "josca_sharedcommondataserviceforapps_70c10"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "josca_sharedapprovals_66f00"
        },
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "josca_sharedoffice365_2a7f8"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "SubmissionFormID (josca_SubmissionFormID)": {
          "defaultValue": "NaKkOuK21UiRlX_PBbRZsH7KSaHb7PlMq-3bpeEdFCxUQUFSVDVKVlhNS05LRVlZRFZaVFVIMklMVSQlQCN0PWcu",
          "type": "String",
          "metadata": {
            "schemaName": "josca_SubmissionFormID",
            "description": "Microsoft Form ID for submission "
          }
        }
      },
      "triggers": {
        "When_a_new_response_is_submitted": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "cb0be5ca-e3c6-452e-aa28-31ec456824df"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftforms",
              "operationId": "CreateFormWebhook",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
            },
            "parameters": {
              "form_id": "@parameters('SubmissionFormID (josca_SubmissionFormID)')"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_response_details": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b0de163c-ba90-4443-8790-d8b29f1e09bf"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_microsoftforms",
              "operationId": "GetFormResponseById",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftforms"
            },
            "parameters": {
              "form_id": "@parameters('SubmissionFormID (josca_SubmissionFormID)')",
              "response_id": "@triggerOutputs()?['body/resourceData/responseId']"
            },
            "authentication": "@parameters('$authentication')"
          },
          "description": "Default: NaKkOuK21UiRlX_PBbRZsH7KSaHb7PlMq-3bpeEdFCxUQUFSVDVKVlhNS05LRVlZRFZaVFVIMklMVSQlQCN0PWcu"
        },
        "Condition": {
          "actions": {
            "Set_variable_Known_Functional_Location": {
              "runAfter": {
                "If_functional_location_does_not_start_with_plant_id": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "701e8632-1445-4522-8285-bc7f8ab0a59f"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "varReportSummary",
                "value": "Functional location: @{variables('varFunctionalLocation')}\n@{outputs('Common_Response_Summary_')}"
              }
            },
            "If_functional_location_does_not_start_with_plant_id": {
              "actions": {
                "Full_functional_location": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "2a6c0091-bda1-4e3d-8daa-67946e84367a"
                  },
                  "type": "Compose",
                  "inputs": "@{variables('varPlantSapId')}-@{variables('varFunctionalLocation')}"
                },
                "Add_SapPlantId_to_Functional_Location_": {
                  "runAfter": {
                    "Full_functional_location": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "701e8632-1445-4522-8285-bc7f8ab0a59f"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "varFunctionalLocation",
                    "value": "@{outputs('Full_functional_location')}"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "not": {
                  "startsWith": [
                    "@variables('varFunctionalLocation')",
                    "@variables('varPlantSapId')"
                  ]
                }
              },
              "metadata": {
                "operationMetadataId": "8b242fce-cd7d-4969-872e-51ffefd231e7"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable_varFunctionalLocation": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_variable_Unknown_Functional_Location": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "543e0732-56e7-4975-984d-c2bf5a773038"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "varReportSummary",
                  "value": "Floor: @{outputs('Get_response_details')?['body/r8ded7e58bbdd4972b34cb10d1bbf5353']}\nLocation: @{outputs('Get_response_details')?['body/r3c4254d09b0445a48986324d74597847']} \n@{outputs('Common_Response_Summary_')}"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Get_response_details')?['body/rc8d89e3119da413e9500246057b01647']",
              "Yes"
            ]
          },
          "metadata": {
            "operationMetadataId": "e62cffb6-5e92-4693-a0e2-d306ec4a657c"
          },
          "type": "If"
        },
        "Initialize_variable_varReportSummary": {
          "runAfter": {
            "Common_Response_Summary_": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "3df6d3c0-328a-4399-80cf-9d1ae746b30d"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varReportSummary",
                "type": "string"
              }
            ]
          }
        },
        "Common_Response_Summary_": {
          "runAfter": {
            "Get_response_details": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "908840f5-c105-4d05-906e-f6aa00914e8e"
          },
          "type": "Compose",
          "inputs": "Installation/Plant: @{outputs('Get_response_details')?['body/r6bfb412724824e888b20af071644bf2c']}\nIssue Type: @{outputs('Get_response_details')?['body/rf42275de4b574506b6c66a5cca3902ca']}\nIssue details: @{outputs('Get_response_details')?['body/r236f55bc1bea46deb097d3d4ebfee62b']}\nSubmitted by (name): @{outputs('Get_response_details')?['body/rbeecc6146e6d4cc2a4c8c070d14093e1']}",
          "description": "This is the summary used for mailbox notifications. The submitted by name should be omitted from the issue registration table for privacy and GDPR compliance."
        },
        "Filter_Installation_Configuration_Records": {
          "runAfter": {
            "Condition": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7d0fe7dd-6599-4b1c-90c0-41ed81f8b832"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "josca_stidplants",
              "$filter": "josca_sapplantid eq '@{variables('varPlantSapId')}'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          },
          "description": "TODO: Use proper integration with MaintenanceAPI or STID API. This table should only contain information which is not found in the APIs should exist in this table e.g. CA Management Email, status and API key columns for lookup."
        },
        "Get_Installation_configuration_Record": {
          "runAfter": {
            "Filter_Installation_Configuration_Records": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2334b5b5-b2e9-403d-8921-c0942e324884"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "josca_stidplants",
              "recordId": "@first(outputs('Filter_Installation_Configuration_Records')?['body/value'])?['josca_stidplantid']"
            },
            "authentication": "@parameters('$authentication')"
          },
          "description": "See note for list rows"
        },
        "Start_and_wait_for_an_approval": {
          "runAfter": {
            "Issue_Level_One_Handler": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dd900893-1812-4efc-ba04-e7faf094b960"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_approvals",
              "operationId": "StartAndWaitForAnApproval",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
            },
            "parameters": {
              "approvalType": "CustomResponse",
              "WebhookApprovalCreationInput/responseOptions": [
                "Register and hold",
                "Ignore"
              ],
              "WebhookApprovalCreationInput/title": "Issue reported for LQ",
              "WebhookApprovalCreationInput/assignedTo": "@outputs('Get_Installation_configuration_Record')?['body/josca_camanagementemail']",
              "WebhookApprovalCreationInput/details": "@variables('varReportSummary')",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true
            },
            "authentication": "@parameters('$authentication')"
          },
          "description": "Issue level one handler will be the receiver."
        },
        "Switch": {
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "Succeeded"
            ]
          },
          "cases": {
            "Register_and_assign": {
              "case": "Register and assign to discipline",
              "actions": {
                "Register_an_assigned_issue": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "0da404f8-0123-40ef-90ad-b47cfe8f0250"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "josca_issueregistrations",
                      "item/josca_discipline": "@outputs('Get_response_details')?['body/rf42275de4b574506b6c66a5cca3902ca']",
                      "item/josca_STIDPlant@odata.bind": "@outputs('Get_Installation_configuration_Record')?['body/@odata.id']",
                      "item/josca_registrationdatetime": "@outputs('Get_response_details')?['body/submitDate']",
                      "item/josca_registrationdetails": "@variables('varReportSummary')",
                      "item/josca_name": "@triggerOutputs()?['body/resourceData/responseId']",
                      "item/josca_comment": "@first(outputs('Start_and_wait_for_an_approval')?['body/responses'])?['comments']",
                      "item/josca_floor": "@outputs('Get_response_details')?['body/r8ded7e58bbdd4972b34cb10d1bbf5353']",
                      "item/josca_functionallocation": "@outputs('Get_response_details')?['body/ra19d5f53ccaa49c38807744f6d3d7666']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              }
            },
            "Register_and_hold": {
              "case": "Register and hold",
              "actions": {
                "Compose": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "a094081f-33d5-4dc5-9db4-aa214b701fa3"
                  },
                  "type": "Compose",
                  "inputs": "@first(outputs('Start_and_wait_for_an_approval')?['body/responses'])?['comments']"
                }
              }
            }
          },
          "default": {
            "actions": {}
          },
          "expression": "@outputs('Start_and_wait_for_an_approval')?['body/outcome']",
          "metadata": {
            "operationMetadataId": "3492de5f-991b-4010-b03b-43421380b10d"
          },
          "type": "Switch"
        },
        "Issue_Level_One_Handler": {
          "runAfter": {
            "Terminate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "62af887f-2f40-4c25-a1be-393e2c676bcb"
          },
          "type": "Compose",
          "inputs": "@outputs('Get_Installation_configuration_Record')?['body/josca_camanagementemail']"
        },
        "Initialize_variable_varPlantSapId": {
          "runAfter": {
            "Initialize_variable_varReportSummary": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6a020710-68b1-401c-bc36-3033fee0caf5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varPlantSapId",
                "type": "string",
                "value": "@{first(split(outputs('Get_response_details')?['body/r6bfb412724824e888b20af071644bf2c'], ' '))}"
              }
            ]
          }
        },
        "Register_and_assign_issue_to_Accommodation": {
          "runAfter": {
            "Get_Installation_configuration_Record": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6bb44da4-41da-4a31-9577-7a6e194fbdfb"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "josca_issueregistrations",
              "item/josca_discipline": "459480003",
              "item/josca_STIDPlant@odata.bind": "@outputs('Get_Installation_configuration_Record')?['body/@odata.id']",
              "item/josca_registrationdatetime": "@outputs('Get_response_details')?['body/submitDate']",
              "item/josca_registrationdetails": "@outputs('Get_response_details')?['body/r236f55bc1bea46deb097d3d4ebfee62b']",
              "item/josca_name": "@triggerOutputs()?['body/resourceData/responseId']",
              "item/josca_floor": "@outputs('Get_response_details')?['body/r8ded7e58bbdd4972b34cb10d1bbf5353']",
              "item/josca_functionallocation": "@variables('varFunctionalLocation')",
              "item/josca_issuelocationdetails": "@outputs('Get_response_details')?['body/r3c4254d09b0445a48986324d74597847']",
              "item/josca_issuetype": "@outputs('Get_response_details')?['body/rf42275de4b574506b6c66a5cca3902ca']"
            },
            "authentication": "@parameters('$authentication')"
          },
          "description": "Assigned to Accommodation by default who can choose another discipline if needed."
        },
        "Terminate": {
          "runAfter": {
            "Send_an_email_to_the_selected_plant_CA_Management_group_email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1f191819-67a4-4e09-88cd-738de0b41f6a"
          },
          "type": "Terminate",
          "inputs": {
            "runStatus": "Succeeded"
          },
          "description": "Disable approvals for now. Approvals does not support shared mailboxes, furthermore the approvals should only be sent to people who are on duty which means role membership alone is not sufficient"
        },
        "Initialize_variable_varFunctionalLocation": {
          "runAfter": {
            "Initialize_variable_varPlantSapId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b2d726b9-4a89-4ef7-81a2-afd36ef4a092"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varFunctionalLocation",
                "type": "string",
                "value": "@outputs('Get_response_details')?['body/ra19d5f53ccaa49c38807744f6d3d7666']"
              }
            ]
          }
        },
        "HTML_notification_body": {
          "runAfter": {
            "Register_and_assign_issue_to_Accommodation": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7873f4d5-f6a1-4c8f-a5b5-7b40681a6ccb"
          },
          "type": "Compose",
          "inputs": "@{variables('varReportSummary')}<br>\n<br>Manage this issue in the <a href=\"https://apps.equinor.com/lqiam/?issueId=https://apps.equinor.com/lqiam/?issueId=@{outputs('Register_and_assign_issue_to_Accommodation')?['body/josca_issueregistrationid']}\">LQ Issue & Maintenance App</a><br>",
          "description": "Issue URL: https://apps.equinor.com/lqiam/?issueId=@{outputs('Register_and_assign_issue_to_Accommodation')?['body/josca_issueregistrationid']}<br>"
        },
        "Send_an_email_to_the_selected_plant_CA_Management_group_email": {
          "runAfter": {
            "HTML_notification_body": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "da3b3ee3-f717-40d6-afff-95ac41cb66d3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "SharedMailboxSendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/MailboxAddress": "ossfaled@equinor.com",
              "emailMessage/To": "@outputs('Get_Installation_configuration_Record')?['body/josca_camanagementemail']",
              "emailMessage/Subject": "An issue is registered in living quarter @{outputs('Get_response_details')?['body/r6bfb412724824e888b20af071644bf2c']}",
              "emailMessage/Body": "<p>@{outputs('HTML_notification_body')}<br>\n<strong>Vennligst ikke svar på denne eposten / Please do not reply to this email</strong></p>",
              "emailMessage/ReplyTo": "NoReplyPowerPlatform@equinor.com",
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          },
          "description": "TODO: Change to a no-reply mail box which the production deployment app-user is permitted to send from."
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}